[build]
publish = "public"

[build.environment]
NODE_VERSION = "24.12.0"
HUGO_VERSION = "0.154.3"
HUGO_EXTENDED = "true"
HUGO_ENABLEGITINFO = "true"
GO_VERSION = "1.25.5"

[context.production]
command = "npm install && hugo --gc --minify --logLevel info"

[context.production.environment]
HUGO_ENVIRONMENT = "production"

[context.deploy-preview]
command = "npm install && hugo --gc --minify --logLevel info -b $DEPLOY_PRIME_URL"

[[headers]]
  for = "/*"
  [headers.values]
    Referrer-Policy = "strict-origin-when-cross-origin"
    X-Content-Type-Options = "nosniff"
    X-Frame-Options = "deny"
    X-XSS-Protection = "1; mode=block"

[[redirects]]
  from = "/:lang/*"
  to = "/:lang/404.html"
  status = 404

[[redirects]]
  from = "/*"
  to = "/404.html"
  status = 404
